@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;600;700;800&family=Nunito+Sans:wght@200&family=Nunito:ital,wght@1,200&display=swap');

:root {
    --peru: #cd9452;
    --black: #222;
    --white: #fff;
    --light-black: #666;
    --light-white: #ccc;
    --light-bg: #rgba(0,0,0,.7);
    --dark-bg:rgba(0,0,0,.7);
    --border: .2rem solid #aaa;
    --box-shadow: 0 .5rem 1rem #aaa;
}

 *{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43, 1.1, .62, 1.08);
    text-transform: capitalize;
 }

 * > img {
    user-select: none;
    pointer-events: none;
 }

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--white);
}

section {
    padding: 5rem 10%;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--peru);
    background: #ec6d6d;
    color:var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 20px;
 }

 .btn:hover{
    letter-spacing: .2rem;
 }

div .btn-var {
    margin-top: 1rem;
    display: inline-block;
    /*background: var(--peru);*/
    background: #ec6d6d;
    color:var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;
    border-radius: 20px;
 }

.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  var(--box-shadow);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    z-index: 1000;
}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: #ec6d6d;
    padding-right: .5rem;
}

.header .navbar a {
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--light-black);
    border-radius: 20px;
}

.header .navbar a:hover {
    color: var(--peru);
}

#menu-btn {
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
 }

 .about .image{
    flex:1 1 41rem;
 }

 .about .image img{
    width: 100%;
 }

 .about .content{
    flex:1 1 41rem;
 }

 .about .content .title{
    font-size: 4rem;
    color:var(--black);
 }

 .about .content p{
    font-size: 1.7rem;
    color:var(--light-black);
    padding:1rem 0;
    line-height: 2;
 }

 .about .content .icons-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-top: 3rem;
 }

 .about .content .icons-container .icons{
    flex:1 1 16rem;
    text-align: center;
    background: var(--light-bg);
    padding:3rem 2rem;
 }

 .about .content .icons-container .icons img{
    height: 5rem;
 }

 .about .content .icons-container .icons h3{
    padding-top: 1rem;
    font-size: 2rem;
    color:var(--light-black);
    font-weight: normal;
 }

 .heading {
   text-align: center;
   margin-bottom: 3rem;
   font-size: 2.5rem;
   color: var(--peru);
}

.heading h3 {
   font-size: 4.5rem;
   color: var(--black);
}

.d-md-block {
   margin-bottom: 150px;
}

.titulo {
   font-size: 50px;
   color: rgb(255, 255, 255);
}

.contenido {
   font-size: 100px;
   color: rgb(255, 255, 255);
}


.cards-wrapper {
   display: flex;
   justify-content: center;
 }

 .card {
   width: calc(100%/3);
   margin: auto;
   box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
   border: none;
   border-radius: 0;
 }

@media screen and (max-width:567px) {
   .card:not(:first-child) {
      display: none;
   }
}

 .image-wrapper {
   height: 22vh;
   margin: 0 auto;
   align-items: center;
   justify-content: center;
 }

 .image-wrapper img {
   max-width: 100%;
   max-height: 100%;
 }

 .carousel-inner {
   padding: 1em;
 }
 .carousel-control-prev,
 .carousel-control-next {
   background-color: #e1e1e1;
   width: 5vh;
   height: 5vh;
   border-radius: 50%;
   top: 50%;
   transform: translateY(-50%);
 }





.footer{
   text-align: center;
   /* padding-bottom: 10rem; */
}

.footer .icons-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:2rem;
}

.footer .icons-container .icons{
   text-align: center;
   padding:3rem 2rem;
}

.footer .icons-container .icons i{
   height: 6rem;
   width: 6rem;
   border-radius: 50%;
   background: #ec6d6d;
   color:var(--white);
   margin-bottom: .5rem;
   line-height: 5.8rem;
   font-size: 2rem;
}

.footer .icons-container .icons h3{
   font-size: 2rem;
   color:var(--black);
   padding:1rem 0;
}

.footer .icons-container .icons p{
   line-height: 1.5;
   font-size: 1.7rem;
   color:var(--light-black);
   text-transform: none;
}

.footer .share{
   margin:2rem 0;
}

.footer .share a{
   height: 6rem;
   width: 6rem;
   line-height: 5.8rem;
   color:var(--white);
   background: var(--black);
   margin:0 .3rem;
   font-size: 2.5rem;
}

.footer .share a:hover{
   background: var(--peru);
}

.footer .credit{
   padding-top: 2.5rem;
   margin-top: 3rem;
   border-top: var(--border);
   font-size: 2rem;
   color:var(--light-black);
}

.footer .credit span{
   color:var(--peru);
}


/*Inicio de Media query*/

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   section{
      padding:3rem 2rem;
   }

   html{
      font-size: 55%;
   }

   .home .slide .content h3{
      font-size: 15vw;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
   }

   /*.swiper-button-next,
   .swiper-button-prev{
      top:initial;
      bottom:1rem;
   }*/

   .menu .slide .box-container .box{
      flex-flow: column;
      text-align: center;
   }
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .home .slide .content h3{
      font-size: 7rem;
   }

}
.estilo_nombre{
   color: rgba(0, 0, 0, 0.973);
   font-family:'dosis', sans-serif;
   font-size: 2.5em;
   font-style: bolder;
  
}